@import './variables.css';
@import './reset.css';
@import './fonts.css';

.local-wrapper {
  margin: 0 auto;
  max-width: 1920px;
}

.general-header {
  padding: 0 40px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.contacts {
  background-color: var(--head-bg);
  border-radius: 0 0 40px 40px;
  font-style: normal;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 20px 0;
}

.contacts--address {
  display: flex;
  align-items: center;
  padding-left: 40px;
  color: var(--main);
}

.contacts--contact-phone {
  display: flex;
  align-items: center;
  gap: 20px;
}

.phone-number {
  display: flex;
  align-items: center;
  color: var(--main);
}

.work-time {
  color: var(--second-option-two);
}

.space {
  margin-left: 8px;
}

.image-button-vk {
  margin: 4px;
  width: 24px;
  height: 24px;
  border: none;
  background-image: url('../img/icon/social_vk.svg');
  background-size: cover;
}

.image-button-youtube {
  margin: 4px;
  width: 24px;
  height: 24px;
  border: none;
  background-image: url('../img/icon/social_youtube.svg');
  background-size: cover;
}

.image-button-telegram {
  margin: 4px;
  width: 24px;
  height: 24px;
  border: none;
  background-image: url('../img/icon/social_telegram.svg');
  background-size: cover;
}

.image-button-dzen {
  margin: 4px;
  width: 24px;
  height: 24px;
  border: none;
  background-image: url('../img/icon/Vector.svg');
  background-size: cover;
}

.contacts-social-networks {
  display: flex;
  padding-right: 40px;
  justify-content: end;
  align-items: center;
  flex-grow: 1;
}

.text-social-networks {
  padding: 7px 12px 7px 0;
  color: var(--second-option-two);
}

.button-box-social-networks {
  display: flex;
  gap: 2px;
}

.general-header--header-router {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  gap: 16px;
}

.slogan {
  color: var(--second-option-two);
  font-family: 'Inter', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 32px 0 32px 40px;
}

.navigation-list--menu {
  display: flex;
  align-items: center;
  color: var(--main);
  font-family: 'Inter', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.flex-first-element {
  display: flex;
  align-items: center;
  gap: 6px;
}

.padding {
  padding: 14px 12px;
}

.navigation-list--get-order-btn {
  display: flex;
  gap: 12px;
}

.choose-lang {
  color: var(--main);
  font-family: 'Inter', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 19px;
  padding: 14px 25px;
  border-radius: 500px;
  border: 1px solid var(--light-transparent-bg-one);
  backdrop-filter: blur(40px);
  background-color: white;
}

.request {
  color: var(--main);
  background-color: var(--light-transparent-bg-one);
  border-radius: 500px;
  padding: 14px 25px;
  font-family: 'Inter', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 19px;
}

.footer-contacts--flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 232px;
}

.footer-contacts--flexbox--brand {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-contacts--year {
  color: var(--second-option-two);
  text-align: center;
  padding-bottom: 64px;
}

.footer-contacts--flexbox--contacts-social-networks {
  display: flex;
  align-items: center;
}
