@import '../variables/variables.css';
@import '../reset/reset.css';
@import '../fonts/fonts.css';

.solutions-big {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  background-color: #F6F4F3;
  padding: 80px 0;
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 708px;
}

.headings-title {
  font-family: 'Roboto-Serif', Arial, Helvetica, sans-serif;
  font-size: 48px;
  color: var(--main);
  text-align: center;
}

.headings-slogan {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 21px;
  color: var(--main);
  text-align: center;
}

.solutions-content {
  padding: 40px;
  background-color: #fff;
  border-radius: 60px;
  display: flex;
  gap: 32px;
}

.card-solutions {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 355px;
}

.price-solutions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 196px;
}

.price-solution {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.old-price {
  color: var(--second-option-one);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 19px;
  position: relative;
}

.old-price::after {
  content: "";
  width: 86px;
  height: 1px;
  background-color: var(--second-option-one);
  position: absolute;
  top: 10px;
  left: 0px;
  transform: rotate(345deg);
}

.favorable-price {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: var(--secondary-emphasis-two);
}

.name-package {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: var(--main);
}

.package-description {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--second-option-two);
  max-width: 260px;
}

.buy-solutions {
  background-color: var(--main);
  color: #fff;
  padding: 14px 0;
  border-radius: 500px;
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 19px;
  cursor: pointer;
}

.buy-solutions:hover {
  background-color: #21282BDB;
}

.options-solutions {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title-description {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--main);
}

.list-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 306px;
}

.characteristic {
  display: flex;
  gap: 12px;
  align-items: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--second-option-two);
}